footer i {
    color: #404040 !important;
}

.input-field input {
    font-family: "Courier New", monospace;
}

.brand-logo {
    font-family: 'Cutive Mono', monospace;
    margin-left: 0.5em;
    margin-top: 2px;
}

.exchange {
    transform: rotate(90deg);
    color: #404040;
}

.row {
    margin-bottom: 0;
}